/* ----RESET---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside ul{
    list-style: none;
}
/* ----UTILITY---- */
body{
    font-family: 'Montserrat', sans-serif;
}

.left{
    float: left;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.wrapper{
    width: 100%;
    height: 100vh;
}
/* ----SIDEBAR---- */
aside{
    float:left;
    width: 250px;
    height:calc(100vh - 150px);
    padding: 0 20px;
    background-color: black;
    position: relative;
    color: gray;
}
/* ----LOGO---- */
aside > .row  > .logo{
    width: 100%;
    min-height: 150px;
    line-height: 150px;
    z-index: 3;
}

aside > .row  > .logoaside > .row  > .logo img{
    width: 90%;
}
/* ----SIDEBAR NAVIGATION---- */
aside > .row > .btn-nav{
    width: 100%;
    min-height: 100px;
    z-index: 2;
}

aside > .row  > .playlist{
    width: 100%;
    max-height: 200px;
    background-color: yellow;
    overflow: auto;
}

aside > .flex-row{
    width: 100%;
    height: 100%;  
    display: flex;
    flex-direction: column;
}

aside > .row.flex-row > .sidebar-bottom{
    position: relative;
    flex:1;
    background-color: green;
}

aside > .row.flex-row > .sidebar-bottom > .user{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    z-index: 1;
}

.container{
    float: right;
    width: calc(100% - 250px);
    position: relative;
    overflow: auto;
    background-color:#141922 ;
}

header{
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: wheat;
    z-index:1001;
}

nav{
    margin-top: 150px;
    width: 100%;
    height: 50px;
}

main{
    width: 100%;
    height: calc(100vh - 350px);
    color:white;
}

footer{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 150px;
    background-color: blue;
    z-index: 101;
}
/* ----ICON---- */
.home::before{}